*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
}


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 100px;
}

.nav_container{
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;


}

.nav_container img{
    height: 50px;

}

.navmenu{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 1rem;
    height: 100%;
    font-weight: 600;
    
}

.opcionmenu{
    padding-left: 1rem;
    text-decoration: none;

}

.opcionlink{
    color: #002557;
    
}

.navmenu a{
    text-decoration: none;
}

.navboton{
    padding-left: 1rem;
}

#boton1{
    color: white;
    background-color: #002557;
    padding: 7px 10px;
    border-radius: 20px;

}


.opcionlink:hover{
    color: #007bff;

}



#boton2{
    color: white;
    background-color: red;
    padding: 7px 10px;
    border-radius: 20px;
    animation: blink 1.5s infinite ease-in-out 1s;
}

#boton1:hover {
    background-color: #007bff;
    color: white;
}



@keyframes blink {
    40%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.herocontainer{
    display: flex;
    justify-content: space-around;
    height: 675px;
    width: auto;

}
.herotext{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 70px;
    margin-top: 7rem;


}

.herologo{
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-top: 2rem;
}

h1{
    color: #007bff;
    font-weight:bold;
    font-size: 70px;
    min-width: fit-content;
    margin-bottom: 1.5rem;
}

.herotext h4{
    font-size: 25px;
    color: #002557;
}


.newsletter {
    display: flex;
    align-items: center;
}

.email-input {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.subscribe-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #002557;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #007bff;
}

.newsletter form{
    display: flex;
    margin-top: 2.5rem;
}

.subsection{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 2rem;
    background-color: #002557;
    height: 800px;

}

.typingclass{
    list-style: none;
    font-weight: bold;
    color: #fff;

}

.realtyping{
    color:  #fff;
    font-weight: bolder;
}
